/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

@import "variables";

body, html {
  height: 100%;
}

#root {
  height: 100%;
}

.square-button {
  background: $light-green;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 6px;
  width: 100%;
  height: auto;
  margin-top: 7px;
  margin-bottom: 7px;
}

.square-button:hover {
  background: $dark-green;
}

button:hover, input[type="submit"]:hover, a:hover {
  cursor: pointer;
}

.circle-button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
