/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

@import "variables";

.app-page {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.square-button {
  background: $light-green;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 6px;
  width: 100%;
  height: auto;
  margin-top: 7px;
  margin-bottom: 7px;
}

.square-button.small {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 5px;
  padding-left: 5px;
  margin-left: 5px;
  margin-left: 5px;
  font-size: 14px;
}

.square-button.small.disabled {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 5px;
  padding-left: 5px;
  margin-left: 5px;
  margin-left: 5px;
  font-size: 14px;
  opacity: 0.5;
}

.square-button:hover {
  background: $dark-green;
  transition: background 0.2s;
}

button:hover, input[type="submit"]:hover, a:hover {
  cursor: pointer;
}
.square-button.grey-button.small {
  background: $light-grey;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-left: 3px;
  margin-left: 3px;
  font-size: 12px;
  color: $dark-grey;
}

.square-button.grey-button.small:hover {
  background: $grey;
  transition: background 0.2s;
}

.square-button.small.narrow {
  height: 30px;
  width: 100px;
}

.square-button.small.narrow.expand {
  height: 30px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $light-green;
}

.square-button.small.narrow.expand:hover {
background: $dark-green;
}
