.create-form-open {
  height: 25%;
  width: 30%;
  top: 25%;
  left: 25%;
  position: absolute;
  background-color: white;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.create-form-overlay {
  background-color: rgba(255, 255, 255, 0.85);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
