
@import "variables";

.default-page{

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  header {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 150px;
    padding-right: 150px;
    border-bottom: 1px solid $light-grey;
    justify-content: space-between;
    align-items: center;
  }

  header > h3 > a {
    font-family: 'Roboto Slab', serif;
    color: $light-green;
  }

  header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  header .left-nav {
    margin-right: 40%;
  }
  header .left-nav a:hover {
    color: $light-green;
    transition: color 0.2s;
  }
  header .right-nav a:hover, footer nav:nth-of-type(2) li:hover {
    border-bottom: 2px solid $light-green;
    box-sizing: border-box;
    transition: border-bottom 0.2s;
  }

  nav h4 {
    margin-left: 5px;
    margin-right: 5px;
  }

  main {
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
  }

  section:nth-of-type(1) {
    font-size: 70px;
    font-weight: black;
    width: 50%;
  }

  section:nth-of-type(2) {
    margin-left: 50px;
    border-right: 1px solid $light-grey;
  }

  section:nth-of-type(3) {
    margin-right: 50px
  }

  section:nth-of-type(4) {
    width: 35%;
  }

}

div.session-form {
  form {
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;

  .error-present {
    border: 1px solid $red;
  }

  input {
    margin-top: 7px;
    margin-bottom: 7px;
    background: $light-grey;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    width: 100%;
    height: auto;
    border-radius: 6px;
    box-sizing: border-box;
  }

  ul li {
    color: $red;
  }

}

.default-page {
  footer {
    margin-top: 80px;
    align-self: flex-end;
  }

  footer nav {
    border-top: 1px solid $light-grey;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
  }

  footer ul {
    display: flex;
  }
  footer ul li {
    margin-left: 10px;
  }

}
