
@import "variables";

.default-page {

  .footer-list a:hover, .right-nav a:hover {
    color: $light-green;
    transition: color 0.2s;
  }

  header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 30px 150px;
    border-bottom: 1px solid $light-grey;
    justify-content: space-between;
    align-items: center;

    .left-nav, .right-nav {
      display: flex;
      align-items: center;
    }

    .left-nav{

      a {
        color: $light-green;
        font-family: 'Roboto Slab', serif;
        font-size: 30px;
      }
      img {
        height: 40px;
        margin-right: 10px;
        width: auto;
        align-self: flex-end;
      }
    }

    .right-nav {
      a:hover {
        color: $light-green;
        transition: color 0.2s;
      }
    }
  }

  main {
    display: flex;
    padding: 50px 150px;
    min-height: 400px;
  }

  section:nth-of-type(1) {
    font-size: 70px;
    width: 50%;
  }

  section:nth-of-type(2) {
    margin-left: 50px;
    border-right: 1px solid $light-grey;
  }

  section:nth-of-type(3) {
    margin-right: 50px
  }

  section:nth-of-type(4) {
    width: 35%;
  }


  footer {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    bottom: 0;

    .footer-list {
      display: flex;
      border-top: 1px solid $light-grey;
      height: 100px;
      align-items: center;
      justify-content: flex-start;
      padding: 0px 150px;

      a {
        padding-right: 30px;
      }
    }
  }
}
