@import "variables";

.editor-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 15px;
}

.editor-lower-heading {
  width: 100%;
  border-top: 1px solid $light-grey;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 20px;
}

.tags {
  display: flex;
  width: calc(100% - 300px);
}

.tags-label {
  min-width: 170px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.tag-input {
  margin-top: 20px;
  text-align: right;
}

.tag-list {
  width: 100%;
  max-height: 75px;
  min-height: 75px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  overflow-y: scroll;
}

.tag-button {
  height: 25px;
  background: $light-grey;
  margin: 5px;
  border-radius: 5px;
  padding: 3px;
  text-decoration: line-through;
  transition: color 0.3s;
  transition: background 0.2s;
}

.tag-button.selected {
  background: $light-green;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  transition: background 0.2s;
}

.editor-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  right: 20px;
}

.title {
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  color: $light-green;
  width: 80%;
}

.editor-errors li {
  color: $red;
  width: auto;
}

.note-editor {
  position: absolute;
  left: 470px;
  height: 100%;
  width: calc(100% - 470px);
  padding: 20px;
  box-sizing: border-box;
  background: white;
  display: flex;
  flex-direction: column;
  transition: left .5s, width .5s;
}

.note-editor.full-editor {
  width: 100%;
  left: 0;
  transition: left .5s, width .5s;
}


.note-editor-quill {
  width: 100%;
  height: 90%;
  box-sizing: border-box;
  background: white;
  display: flex;
  flex-direction: column;
  padding: none;
  margin-bottom: 40px;
  margin-top: 10px;
}

.title::-webkit-input-placeholder {
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  color: $light-green;
}

.saved {
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $light-green;
}
