@import "variables";

.editor-heading {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 15px;
  box-sizing: border-box;

}

.editor-lower-heading {
  border-top: 1px solid $light-grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 20px;
  box-sizing: border-box;

}

.tag-button {
  height: 25px;
  width: auto;
  background: $light-grey;
  margin: 5px;
  border-radius: 5px;
  padding: 3px;
  text-decoration: line-through;
  transition: color 0.3s;
  transition: background 0.2s;
}

.tag-button.selected {
  background: $light-green;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  transition: background 0.2s;
}

.editor-buttons {
  display: flex;
  flex-direction: row;
}


.title {
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  color: $light-green;
  width: 80%;
  box-sizing: border-box;
}

.editor-errors li {
  color: $red;
  width: auto;
}

.note-editor {
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: white;
  display: flex;
  flex-direction: column;
  width: 80%
}

.note-editor.full {
  z-index: 40;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.note-editor-quill {
  height: 90%;
  box-sizing: border-box;
  background: white;
  display: flex;
  flex-direction: column;
  padding: none;
  margin-bottom: 40px;
  margin-top: 10px;
}

.note-editor-quill.full {
  width: 100%;
  z-index: 40;
  left: 0;
}


.title::-webkit-input-placeholder {
  color: orange;
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  color: $light-green;
}
