@import "variables";


.notebook-selector {
  padding-bottom: 10px;
  align-self: flex-start;
}

.editor-heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.editor-lower-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.editor-buttons {
  display: flex;
  flex-direction: row;
}


.title {
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  color: $light-green;
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid $light-grey;
  width: 80%;
}

.note-editor {
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: white;
  display: flex;
  flex-direction: column;
  width: 80%
}

.note-editor.full {
  z-index: 40;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.note-editor-quill {
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.note-editor-quill.full {
  width: 100%;
  z-index: 40;
  position: fixed;
  top: 100px;
  left: 0;
}


.title::-webkit-input-placeholder {
  color: orange;
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  color: $light-green;
}

#quill {
  height: 90%;
}
