@import "variables";

.map-view {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 49;
  background-color: rgba(255, 255, 255, 0.95);

  &.closed {
    visibility: hidden;
  }

  button {
    align-self: flex-start;
    margin: 20px;
  }
}

.flag-list {
  margin: 20px;
  width: 30%;
  height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;

  &.flag-list-item {
    width: 100%;
    padding: 7px;
  }
}


#map {
  margin: 20px;
  height: 80%;
  width: 70%;
}
