@import "variables";

.map-view {
  padding: 70px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 49;
  background-color: rgba(255, 255, 255, 0.95);

  &.closed {
    visibility: hidden;
  }
}

.flag-list {
  width: 30%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

  .flag-list-header {
    width: 100%;
    height: 150px;
    min-height: 150px;
    background: $darker-grey;

    h2 {
      font-weight: 400;
      margin: 20px;
      color: white;
    }
  }

  button {
    color: $dark-grey;
    margin: 0;
    width: 90%;
    min-height: 60px;
  }
}

.flag-list-item {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;

  h4 {
    text-align: right;
  }

  p {
    width: 65%;
  }

  &:hover {
    cursor: pointer;
    background-color: $light-green;
    transition: background-color 0.2s;

    p, h4 {
      color: white;
    }

  }

  > div {
    display: flex;
    align-items: center;

    .flag-trash-icon {
      height: 20px;
      margin: 5px;
      width: auto;
    }
  }

}

.input-and-map {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  button {
    align-self: flex-end;
  }
}

#location-search-input-map {
  margin-left: 20px;
}

#location-search-input-editor {

}


#map {
  margin: 20px;
  height: 80%;
  width: 100%;
}
