@import "variables";

.select-notebook {
  padding-bottom: 11px;
}

.notebook-dropdown-open {
  width: auto;
  height: auto;
  background: white;
  display: flex;
  z-index: 45;
  position: absolute;
  left: 400px;
  top: 50px;
  border: 1px solid $light-grey;
}

.notebook-dropdown-closed {
  display: none;
}

.notebook-dropdown-overlay-open {
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  overflow: hidden;
}

.notebook-dropdown-overlay-closed {
  display: none;
}

.notebook-list {
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.notebook-dropdown-item {
  width: 100%;
  padding: 5px;
  color: $dark-grey;
  text-align: left;
}

.notebook-dropdown-item.selected {
  color: $light-green;
  font-weight: 700;
}

.notebook-dropdown-item:hover, .notebook-dropdown-item.selected:hover {
  background: $light-green;
  color: white;
}

.notebook-dropdown-item:last-of-type {
  background-color: $light-grey;
}
