@import "variables";

.note-index {
  width: 20%;
  height: 100%;
  border-right: 1px solid $grey;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
  overflow-x: hidden;
}

.note-index-heading {
  padding: 20px;
  font-size: 20px;
  background-color: $dark-grey;
  color: white;
  height: 70px;
  font-family: 'Roboto Slab', serif;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note-item {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  box-sizing: border-box;
}

.note-info {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
}

.note-item:hover {
  background-color: $light-green;
  border-color: $light-green;
  li, p {
    color: white;
  }
}

.note-item.active {
  border-color: $grey;
}


.note-item-title {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.note-item-date {
  font-size: 12px;
  font-weight: 200;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.note-item-body-snippet {
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
  font-weight: 200;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}
