@import "variables";

.select-notebook {
  margin-right: 15px;
}

.notebook-dropdown-open {
  width: auto;
  height: 250px;
  background: white;
  display: flex;
  z-index: 45;
  position: absolute;
  left: 410px;
  top: 60px;
  border: 1px solid $light-grey;
}

.notebook-dropdown-open.left {
  left: 20px;
  top: 60px;
}



.notebook-dropdown-closed {
  display: none;
}

.notebook-dropdown-overlay-open {
  height: 100%;
  width: 100%;
  z-index: 45;
  top: 0px;
  left: 0px;
  position: absolute;
  overflow: hidden;
}

.notebook-dropdown-overlay-closed {
  display: none;
}

.notebook-list {
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.notebook-dropdown-item {
  width: 100%;
  padding: 5px;
  color: $darker-grey;
  text-align: left;
}

.notebook-dropdown-item.selected {
  color: $light-green;
  font-weight: 700;
}

.notebook-dropdown-item:hover, .notebook-dropdown-item.selected:hover {
  background: $light-green;
  color: white;
}

.notebook-dropdown-item:last-of-type {
  background-color: $light-grey;
}
