@import "variables";

.sort-option-div {
  width: 100%;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid $light-grey;
  padding-bottom: 5px;

  :hover {
    cursor: pointer;
  }
}

.sort-button {
  position: relative;
  margin-right: 10px;
  color: $darker-grey;
}

.order-dropdown {
  width: 300px;
  height: auto;
  top: 40px;
  left: -150px;
  position: absolute;
  background: white;
  border: 2px solid $light-grey;
  display: flex;
  flex-direction: column;
  z-index: 45;
}

.order-dropdown-closed {
  display: none;
}

.order-dropdown-overlay {
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  overflow: hidden;
  display: flex;
  z-index: 44;
}

.order-dropdown-overlay-closed {
  display: none;
}

.note-order {
  padding: 5px;
  color: $darker-grey;
  text-align: left;
}

.note-order.selected {
  color: $light-green;
  font-weight: 700;
}

.note-order:hover, .note-order.selected:hover {
  background: $light-green;
  color: white;
}
