@import "variables";

.order-dropdown ul {
  width: auto;
  height: auto;
  top: 20%;
  left: 300px;
  position: relative;
  background: white;
  border: 2px solid $light-grey;
  display: flex;
  flex-direction: column;
}

.sort-option-div {
  width: 100%;
  height: 40px;
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
  border-bottom: 1px solid $light-grey;
  padding-bottom: 5px;
}

.sort-button {
  margin-right: 10px;
  color: $darker-grey;
}

.order-dropdown-closed {
  display: none;
}

.order-dropdown-overlay {
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  overflow: hidden;
  display: flex;
}

.order-dropdown-overlay-closed {
  display: none;
}

.note-order {
  padding: 5px;
  color: $darker-grey;
  text-align: left;
}

.note-order.selected {
  color: $light-green;
  font-weight: 700;
}

.note-order:hover, .note-order.selected:hover {
  background: $light-green;
  color: white;
}
