@import "variables";

.note-index {
  min-width: 400px;
  max-width: 400px;
  height: 100%;
  border-right: 1px solid $grey;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
  box-sizing: border-box;
}

.note-index-heading {
  padding: 20px;
  font-size: 20px;
  background-color: $darker-grey;
  color: white;
  min-height: 90px;
  font-family: 'Roboto Slab', serif;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note-item {
  padding: 0 10px;
  border: 3px solid white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  cursor: pointer;
}

.note-info {
  display: flex;
  flex-direction: column;
}

.note-item:hover {
  background-color: $light-green;
  border-color: $light-green;
  li, p {
    color: white;
  }
}

.note-item.active {
  border-color: $grey;
}


.note-item-title {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.note-item-date {
  font-size: 12px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.note-item-body-snippet {
  font-size: 12px;
  font-weight: 200;
}


.note-trash-icon {
  height: 20px;
  margin: 5px;
}

.search-bar {
  background: $light-grey;
  color: $darker-grey;
  padding: 10px;
  min-height: 40px;
  overflow-x: hidden;
  box-sizing: border-box;
}
