@import "variables";

.sidenav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  height: 100%;
  width: 70px;
  background-color: $light-grey;
  border-right: 1px solid $grey;
  z-index: 35;
}

.sidenav > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.sidenav-ul > li {
  margin-bottom: 30px;
}

.sidenav-ul > li:nth-of-type(1) {
  margin-top: 20px;
  margin-bottom: 50px;
}

.circle-button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-button:hover {
  border: 1px solid $light-green;
}

.sidenav-icon {
  height: 20px;
  width: auto;
}
