@import "variables";

@-webkit-keyframes slideout {
  from { left: -430px; }
  to { left: 0px; }
}

@-webkit-keyframes fadein {
  from { background-color: rgba(255, 255, 255, 0);}
  to { background-color: rgba(255, 255, 255, 0.81);}
}

@-webkit-keyframes fadeout {
  from { background-color: rgba(255, 255, 255, 0.81);}
  to { background-color: rgba(255, 255, 255, 0);}
}

@-webkit-keyframes slidein {
  from { transform: translateX(530px); }
  to { transform: translateX(0); }
}

// for initial state
.hidden {
  display: none;
}

.closed-sidemenu-overlay {
  display: none;
}

.sidemenu-overlay {
  height: 100%;
  width: 100%;
  top: 0px;
  left: 70px;
  background-color: rgba(255, 255, 255, 0.81);
  position: absolute;
  overflow: hidden;
  z-index: 30;
  -webkit-animation: fadein .4s ease-in;
}

.closed-sidemenu {
  background: white;
  left: -500px;
  top: 0px;
  height: 100%;
  width: 500px;
  border-right: 2px solid $grey;
  position: fixed;
  overflow-y: scroll;
  -webkit-animation: slidein .4s ease-in;
  z-index: 30;
}

.sidemenu-open {
  background: white;
  left: 70px;
  top: 0px;
  height: 100%;
  width: 500px;
  border-right: 2px solid $grey;
  position: fixed;
  overflow-y: scroll;
  -webkit-animation: slideout .3s ease-in;
  z-index: 30;
}


.sidemenu-heading {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid $light-grey;
  justify-content: space-between;
  padding: 20px;
  h2 {
    text-transform: uppercase;
    color: $darker-grey;
  }
}

.tag-sidemenu-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
}
