@import "variables";

.sidenav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  height: 100%;
  width: 70px;
  background-color: $light-grey;
  border-right: 1px solid $grey;
  z-index: 35;
}

.sidenav-icon-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  z-index: 35;
}

.sidenav-icon-list > li {
  margin-bottom: 30px;
}

.sidenav-icon-list > li:nth-of-type(1) {
  margin-top: 20px;
  margin-bottom: 50px;
}

.circle-button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  .sidenav-tooltip {
    display: none;
  }
}

.circle-button:hover {
  border: 1px solid $light-green;
  transition: border .3s;

  .sidenav-tooltip {
    font-size: 14px;
    display: flex;
    position: fixed;
    z-index: 60;
    left: 55px;
    height: auto;
    width: auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    padding: 2px;
    color: $darker-grey;
    align-items: center;
    flex-wrap: wrap;
  }
}

.sidenav-icon {
  height: 20px;
  width: auto;
}

.sidenav-logo {
  height: 35px;
  width: auto;
}

.circle-button.logout:hover {
  border: 1px solid blue;
}
