@import "variables";

@-webkit-keyframes slideout {
  from { left: -430px; }
  to { left: 0px; }
}

@-webkit-keyframes fadein {
  from { background-color: rgba(255, 255, 255, 0);}
  to { background-color: rgba(255, 255, 255, 0.81);}
}

@-webkit-keyframes slidein {
  from { transform: translateX(530px); }
  to { transform: translateX(0); }
}

// for initial state
.hidden {
  display: none;
}

.closed-sidemenu-overlay {
  display: none;
}

.sidemenu-overlay {
  height: 100%;
  width: 100%;
  top: 0px;
  left: 65px;
  background-color: rgba(255, 255, 255, 0.81);
  position: absolute;
  overflow: hidden;
  z-index: 30;
  -webkit-animation: fadein .4s ease-in;
}

.closed-sidemenu {
  background: white;
  left: -500px;
  top: 0px;
  height: 100%;
  width: 500px;
  border-right: 2px solid $grey;
  position: fixed;
  overflow-y: scroll;
  -webkit-animation: slidein .4s ease-in;
  z-index: 30;
}

.sidemenu-open {
  background: white;
  left: 65px;
  top: 0px;
  height: 100%;
  width: 500px;
  border-right: 2px solid $grey;
  position: fixed;
  overflow-y: scroll;
  -webkit-animation: slideout .4s ease-in;
  z-index: 30;
}

.notebook-heading {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid $light-grey;
  justify-content: space-between;
  padding: 20px;
  h2 {
    text-transform: uppercase;
    color: $dark-grey;
  }
}

.notebook-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.notebook-index-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: $grey;
  font-size: 12px;
  border-bottom: 1px solid $light-grey;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

}

.notebook-index-item:hover {
  cursor: pointer;
  background-color: $light-green;
  li, h3 {
    color: white;
  }
}

.notebook-details {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $dark-grey;
  font-weight: 200;
  font-family: 'Roboto Slab', serif;
}


.trash-icon {
  height: 20px;
  margin: 5px;
  width: auto;
  position: float;
}
